.custom-btn{

width:100%;

padding:16px;

border:none;

border-radius:14px;

background:#1747d1;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.custom-btn:hover{

background:#123bb0;

transform:translateY(-2px);

box-shadow:0 12px 25px rgba(23,71,209,.18);

}