*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#f7f9fc;
}

.home{

padding:80px;

display:flex;

justify-content:center;

}

.hero{

max-width:1100px;

text-align:center;

}

.small{

color:#1747d1;

letter-spacing:3px;

margin-bottom:18px;

font-size:14px;

}

.hero h1{

display:block;

font-size:68px;

font-weight:800;

color:#111;

line-height:1.15;

margin-bottom:28px;

}

.desc{

font-size:22px;

color:#666;

line-height:1.8;

margin-bottom:42px;

}

.hero button{

padding:18px 34px;

background:#1747d1;

color:white;

border:none;

border-radius:14px;

cursor:pointer;

margin-bottom:80px;

}

.features{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:24px;

}

.feature{

background:white;

padding:36px;

border-radius:24px;

box-shadow:
0 15px 35px
rgba(23,71,209,.08);

}

.feature h3{

font-size:24px;

margin-bottom:18px;

color:#222;

}

.feature p{

color:#666;

line-height:1.8;

}