*{
margin:0;
padding:0;
box-sizing:border-box;
}

.details{

padding:80px;

max-width:1100px;

margin:auto;

}

.top{

display:flex;

justify-content:space-between;

align-items:flex-start;

margin-bottom:42px;

}

.small{

color:#1747d1;

font-size:18px;

font-weight:800;

letter-spacing:2px;

margin-bottom:14px;

}

.top h1{

font-size:45px;

font-weight:400;

line-height:1.25;

color:#111;

}

.top button{

padding:14px 22px;

background:#1747d1;

color:white;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

margin-top:8px;

}

.info{

display:flex;

gap:40px;

margin-bottom:60px;

font-size:18px;

color:#666;

}

.section{

background:white;

padding:38px;

border-radius:24px;

margin-bottom:28px;

box-shadow:
0 15px 35px
rgba(23,71,209,.08);

}

.section h2{

font-size:30px;

font-weight:700;

margin-bottom:22px;

color:#222;

}

.section p{

color:#666;

font-size:18px;

line-height:1.9;

}

.section ul{

padding-left:18px;

margin-top:10px;

}

.section li{

margin-bottom:14px;

font-size:18px;

line-height:1.8;

color:#555;

/* IMPORTANT */
padding-left:0;

}

.section li::marker{

font-size:14px;

}